{% extends "base_view.html" %}

{% block title %}People{% endblock %}

{% block body %}{% spaceless %}
<h1>People</h1>

{% if faculty %}
	<h2>Faculty Member{{ faculty|pluralize }}</h2>
	
	<ul>
		{% for person in faculty %}
			<li>
				<a href="/view/person?key={{ person.key }}">{{ person.name.first }} {{ person.name.last }}</a>
				<a href="/edit/person?key={{ person.key }}">(edit)</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}

{% if students %}
	<h2>Student{{ students|pluralize }}</h2>
	
	<ul>
		{% for person in students %}
			<li>
				<a href="/view/person?key={{ person.key }}">{{ person.name.first }} {{ person.name.last }}</a>
				<a href="/edit/person?key={{ person.key }}">(edit)</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}
{% endspaceless %}{% endblock %}